/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 de nov. de 2022, 20:21:10
    Author     : PC_Perussi
*/

#mainTable {
    margin-top:30px;
    background-color: white;
    border-radius:10px;
    
}
#buttonTop {
    padding:6px;
    width:100%;
    border-radius: 10px;
    border-style: none;
    background-color: var(--bs-link-color);
    color: white;
    min-width:200px;
}
#buttonTop:hover {
    padding:6px;
    width:100%;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    color: var(--bs-link-color);
     box-shadow: 0px 9px 20px 4px #5456572c; 
    -webkit-box-shadow: 0px 9px 20px 4px #5456572c;
    transition: all 0.5s ease-out;
}

#link {
    color: var(--bs-link-color);
    text-decoration: auto;
    font-weight: bolder;
}

#link:hover {
    color: gray;
    text-decoration: auto;
    font-weight: bolder;
}

.situacao {
    font-weight: bolder;
}

.situacao-REJEITADO, .situacao-CANCELADO {
    color: red;
}

.situacao-EMABERTO {
    color: yellow;
}

.situacao-RECOLHIDO {
    color: gray;
}

.situacao-AGUARDANDOPAGAMENTO {
    color: blue;
}

.situacao-PAGO {
    color: orange;
}

.situacao-FINALIZADO {
    color: green;
}

.sit {
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,1);
    
}

th {
    text-align: left;
    color: #fff;
}

td {
    color: #35427a;
    
}

thead th {
    background-color: #35427a;
}


tbody tr:hover {
    background-color: rgba(255,255,255,0.15);
}

tbody td {
    position: relative;
}


