#center {
    width: 30%;
    margin: 150px auto;
}

body {
    background-color: #0080FF;
}

.smallTopGap {
    margin-top: 20px;
}

.mediumTopGap {
    margin-top: 50px
}

.hidden {
    display: none;
}

 .container-border{
 border: 1px solid #081b96;
 border-radius: 15px;  
 margin-top: 50px;
 background-color: white;
 }
 
 .msg {
     color: black;
     padding: 10px;
 }