table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    font-size: 1.1rem;
}

th {
    text-align: left;
}

thead th {
    background-color: #35427a;
}


tbody tr:hover {
    background-color: rgba(255,255,255,0.15);
}

tbody td {
    position: relative;
}

.btnOrcamento {
    background-color: #35427a;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.btnOrcamento:hover {
    background-color: rgba(53,66,122,0.6);
    color: white;
   
}


.orcamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
}

.orcamento-content {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: .5rem;
     
}