.modal-editar, .modal-nova-peca {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 99;
}

.modal-content {
    width: 50vw;
    height: 35vh;
    padding: 2rem;
    background-color: white;
    margin: auto;
}

.modal-content-nova {
    width: 50vw;
    height: 50vh;
    padding: 2rem;
    background-color: white;
    margin: auto;
}

.modal-title {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #35427a;
}


tbody tr:hover {
    background-color: rgba(255,255,255,0.15);
}

tbody td {
    position: relative;
}

.modal-content-nova {
    background-color: #3b5fff;
    color: #fff;
}

.bg-nova-peca {
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.nova-peca, .btn-pesquisar {
    background-color: #35427a;
    color: white;
}

.nova-peca:hover, .btn-pesquisar:hover {
    background-color: rgba(53,66,122,0.6);
    color: white;
   
}
