/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 de nov. de 2022, 23:50:38
    Author     : goldb
*/

header {
    position: relative;
    z-index: 999;
    background-color: white;
}


.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.1rem;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
}

.diferente{
    display: flex;
    gap: 1rem;
    font-size: 12px;
}

.nav-links a:hover {
    color: #37d0fa;
}

.link-esq {
    margin-right: auto;
}

.link-dir {
    margin-left: auto;
}

.link-esq, .link-dir {
    font-size: 1.2rem;
}

.link-dir button {
    background: none;
    
}

.mobile {
    cursor: pointer;
    margin-right: 3rem;
    display: none;
}


.mobile div {
    width: 30px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    transition: all .3s ease;
}


@media screen and (max-width: 600px) {
    body {
        overflow-y: hidden;
    }
    .mobile {
        display: block;
    }
    .diferente {
        transform: translateY(-100%);
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 7vh;
        padding: 2rem;
        gap: 2rem;
        width: 100vw;
        background-color: white;
        z-index: -2;
        transition: transform .5s ease-in;
        font-size: 1rem;
    }
    .diferente li {
        opacity: 0;
    }
}

.nav-active {
    transform: translateY(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mover .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.mover .l2 {
    opacity: 0;
}

.mover .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
